#about{
	position: relative;
	height: 630px;
	padding-top: 80px;
}
#about .container h3{
	text-align: center;
	font-size: 40px;
	font-style: italic;
    font-weight: normal;
}
#about .container hr{
	height:2px;
	background-color:skyblue; 
	border-top:2px dotted #185598;
}
#about .row{
	margin-top: 80px;
}
#about .row-1{
	margin-left: 90px;
}
#about .link{
	text-decoration: none;
	color:black;
}